a {
    margin-left: 70px;
    margin-right: 10px;
}

.company-name {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bold;
    color: #023af1;
    text-align: left;
}

.box_hotline {
    background: url(https://xulymoitruongsg.vn/images/icon_hotline.png) no-repeat left 15px center;
	padding-left: 50px;
	background-color: #0093dd;
	display: inline-block;
	padding: 5px 20px 5px 60px;
	border-radius: 30px;
	color: #fff000;
	font-size: 18px;
	line-height: 20px;
	text-shadow: 1px 1px #000;
}

.company-overview {
    margin-left: 70px;
    margin-right: 10px;
}

.text-left {
    text-align: left;
}

.col-inner {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

ul {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0093dd;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
}
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.information-header {
    background-color: #f2f2f2; 
    margin-left: 70px;
}

.box_dv_title {
    background: url(https://xulymoitruongsg.vn/images/bgnen_dv.png) repeat-x;
	text-transform: uppercase;
	font-size: 16px; 
    line-height: 43px;
	padding: 0 50px 0 20px;
	position: relative;
	width:fit-content;
	border-bottom: 0px solid #1a61a9;
    margin-bottom: 20px !important;
    font-family:'Roboto', sans-serif;
}
.box_dv_title span:after {
    content: '';
    position: absolute;
    background: url(https://xulymoitruongsg.vn/images/after_dv.png) no-repeat;
    width: 49px; height: 43px;
    top: 0; right: -49px;
}

.information-content {
    width: 100%;
    font-size: 60%; 
    color: #0093dd; 
    text-align: left;
    float:left;
    width: 24%;
}


.dichvu::after {
    content: "";
    display: table;
    clear: both;
}

.dichvu {
    margin-left: 70px;
}

@media (max-width:600px){
    .information-content {
        width: 100%;
        height: auto;
    }
}

    